<header>
    <nav>
        <a href = "/">Mybrary</a>
        <ul>
            <li><a href ="/authers">Authers</a></li>
            <li><a href ="/authors/new">Add Auther</a></li>
        </ul>
    </nav>
</header>